*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}
.log{

    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #3D3D3D;
}
.pipe{
    font-weight: 250;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}
.register{
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #46A358;

}
.info{
    text-align: left;
    display: block;
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: -2px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;

}
input{
    width: 300px;
    height: 40px;
    margin-top: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 12px 14px;
}
::placeholder{
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
}
.register-btn{
    width: 300px;
    height: 45px;
    background-color: #46A358;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    line-height: 16px;
    margin-top: 41px;
}
.line {
    width: 300px;
    text-align: center;
    border-bottom: 1px solid #EAEAEA;
    line-height: 0;
    margin-top: 36px;
    margin-bottom: 27px;
}
.line span {
    background: white;
    padding: 0 10px;
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 400;

}
.google{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #727272;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding-left: 69px;
}
.google span {
    padding-right: 68px;
}
.fb{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    width: 300px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #727272;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    padding-left: 69px;
}
.bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #46A358;
}

