@import "./fonts.css";

.container{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*text-align: center;*/
    margin: 0 auto;
}

h1{
    margin-top: 50px;
    margin-bottom: 39px;
    margin-left: 172px;
}

.log{
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #3D3D3D;
}

.pipe{
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #3D3D3D;
    margin-left: 10px;
}

.register{
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #46A358;
    margin-left: 9px;
}

.info{
    display: block;
    max-width: 300px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
    margin-left: 100px;
    padding-bottom: 14px;
}

form{
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
    margin-left: 100px;
}

input{
    width: 300px;
    height: 40px;
    margin-bottom: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 12px 14px;
}

.register-btn{
    width: 300px;
    height: 45px;
    background-color: #46A358;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-family: "Cera Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 26px;
    cursor: pointer;
}

.register-btn:hover{
    background: #4FB96A;
    color: #3D3D3D;
    transition: 2s;
}

.line {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 35px 0 27px;
    margin-left: 100px;
    max-width: 300px;
}

.line::before,
.line::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #EAEAEA;

}

.line span {
    white-space: nowrap;
    color: #3D3D3D;
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.button{
    display: flex;
    gap: 10px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    margin-left: 100px;
    margin-bottom: 15px;
    background: white;
    cursor: pointer;
}

.button span{
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #727272;
}

.btn-google{
    display: flex;
    align-items: center;
    padding-left: 69px;
    gap: 9px;
}

.btn-facebook{
    display: flex;
    align-items: center;
    padding-left: 63px;
    padding-top: 4px;
    gap: 5px;
    cursor: pointer;
}

.green-line{
    width: 100%;
    height: 10px;
    background-color: #46A358;
    margin-top: 26px;
}