@import "./fonts.css";

.header {
    margin-bottom: 12px;
}

.container-header {
    display: flex;
    max-width: 1200px;
    height: 53px;
    margin: 30px auto 0;
    background: #FFFFFF;
    border-bottom: #46A35880 solid 0.3px;
}

.logo {
    color: #46A358;
    padding-top: 1px;
    width: 150px;
}

.nav {
    margin-left: 229px;
    margin-top: 8px;
}

.nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding-bottom: 27px;
    transition: color 0.25s ease;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #46A358;
    transition: width 0.25s ease;
}

.nav a:hover {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.nav a:hover::after {
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #46A358;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-left: 379px;
}

.button span {
    font-weight: 500;
    font-size: 16px;
    margin-left: 4px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    /*padding-top: 68px;*/
    padding-left: 43px;
}

.left-side {
    max-width: 590px;
    display: inline-block;
    vertical-align: bottom;
}

.main h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 7px;
}

.main h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main span {
    color: #46A358;
}

.main p {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
}

button {
    width: 140px;
    height: 40px;
    background: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    margin-bottom: 85px;
}

.right-side {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 50px;
}

.small-image {
    position: absolute;
    height: 135px;
    bottom: 17px;
    left: 55px;
}

.products{
    padding-top: 46px;
}

.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}


.sidebar {
    /*display: inline-block;*/
    width: 310px;
    min-width: 310px;
    height: 774px;
    background: #FBFBFB;


}

.sidebar__title {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    padding-left: 18px;
    padding-top: 14px;
    color: #3D3D3D;
}

.sidebar__list {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 30px;
}

.sidebar a {
    text-decoration: none;
    color: #3D3D3D;
    padding: 8px 0;
    transition: 0.2s ease;
}

.sidebar a:hover {
    color: #46A358;
    font-weight: 700;
}

.sidebar__img {
    max-width: 310px;
    max-height: 470px;
}

.sidebar__img img {
    padding-top: 373px;
    width: 100%;
    display: block;
    object-fit: contain;
}

.products__content {
    padding-left: 50px;
    width: 840px;
    vertical-align: top;
    flex: 1;
}

.products__toolbar {
    display: flex;
    align-items: center;
    padding-bottom: 31px;
}

.products__toolbar span a {
    margin-right: 37px;
}

.products__toolbar a {
    font-family: "Cera Pro";
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    position: relative;
    padding-bottom: 7px;

}

.products__toolbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #46A358;
    transition: width 0.25s ease;
}

.products__toolbar a:hover {
    font-family: "Cera Pro";
    color: #46A358;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
}

.products__toolbar a:hover::after {
    width: 100%;
}

.right {
    font-family: "Cera Pro";
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-left: auto;
}

.products__grid {
    display: flex;
    flex-wrap: wrap;
    /*overflow: hidden;*/
    font-size: initial;

}

.products__card {
    width: 258px;
    height: 350px;
    margin-right: 33px;
    margin-bottom: 70px;
}

.products__card:nth-child(3n) {
    margin-right: 0;
}

.products__card img {
    width: 100%;
    height: 300px;
    background: #FBFBFB;
    margin: 0 auto;
}

.name {
    color: #3D3D3D;
    padding-top: 12px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}

.price {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
    padding-top: 6px;
}

.pagination {
    display: flex;
    gap: 8px;
    float: none;
    padding-top: 20px;
    padding-bottom: 94px;
    justify-content: flex-end;

}

.page {
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-family: "Cera Pro";
    font-weight: 300;
    line-height: 16px;
    transition: all 0.2s ease;
}

.page:hover {
    border-color: #46A358;
    color: #46A358;
}

.page.active {
    background-color: #46A358;
    border-color: #46A358;
    color: #FFFFFF;
    pointer-events: none;
}


.flex-row {
    display: flex;
    gap: 28px;
    justify-content: space-between;

}

.promo-card {
    position: relative;
    background: #FBFBFB;
    flex: 1 1 calc(50% - 14px);
    height: 250px;
    display: flex;
    align-items: center;


}

.promo-card img {
    position: absolute;
    width: 292px;
    height: 292px;
    top: -52px;
    left: 0;
}

.promo-content {
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    padding-right: 30px;
    align-self: flex-start;

}

.promo-content h3 {
    padding-top: 37px;
    font-family: "Cera Pro";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.promo-content p {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 26px;

}

.promo-content h3 span {
    display: block;
}

.promo-content button {
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #46A358;
    color: #FFFFFF;
}
.blog-wrapper {
    width: 100%;
}


.blog-header {
    margin-top: 138px;
    text-align: center;
}

.blog-header h2 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
}

.blog-header p {
    padding-top: 15px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.blog-list {
    display: grid;
    padding-top: 35px;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px;
}


.blog-card img {
    width: 100%;
    display: block;
}

.blog-meta {
    display: block;
    padding-top: 8.83px;
    padding-bottom: 4px;
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
}

.blog-card h3 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
    padding-bottom: 4px;
}

.blog-card p {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    padding-bottom: 9px;
}

.blog-card a {
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    text-decoration: none;
}
.blog-card a:hover {
    color: #46A358;
}