@import "./fonts.css";


.header {
    margin-bottom: 12px;
}

.container-header {
    display: flex;
    max-width: 1200px;
    height: 53px;
    margin: 30px auto 0;
    background: #FFFFFF;
    border-bottom: #46A35880 solid 0.3px;
}

.logo {
    color: #46A358;
    padding-top: 1px;
    width: 150px;
}

.nav {
    display: flex;
    margin-left: 229px;
    margin-top: 8px;
}

.list {
    display: flex;
    gap: 47px;
    font-family:Encode Sans, sans-serif;
    font-size: 16px;


    & > li {
        position: relative;
        padding-bottom: 42px;
    }

    & > li > a {
        text-decoration: none;
        position: relative;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 27px;
        transition: color 0.25s ease;
    }

    & > li > a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        background: #46A358;
        transition: width 0.25s ease;
    }

    & > li > a:hover{
        color: #3D3D3D;
        font-weight: 700;
    }

    & > li > a:hover::after {
        width: 100%;

    }

    /*1-й ряд*/

    & > li ::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 40px;
        background: transparent;
    }

    & > li > ul {
        position: absolute;
        left: 60%;
        transform: translateX(-50%);
        display: none;
        background: #EDF6EE;
        margin-top: 42px;
        width: 188px;
        height: 143px;
        z-index: 1000;
    }

    & > li:hover > ul {
        display: block;
    }

    & > li > ul > li:hover {
        background: #1A712A;
    }

    & > li > ul > li:hover > a {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }


    & > li > ul > li {
        height: 35px;
        display: flex;
        align-items: center;
    }

    & > li > ul > li > a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        padding-left: 14px;
        text-decoration: none;
    }

    /*2-й ряд*/

    & > li > ul > li > ul {
        position: absolute;
        left: 100%;
        top: 0;
        width: 178px;
        height: 215px;
        background: #EDF6EE;
        margin-left: 2px;
        z-index: 1001;
        display: none;

    }

    &> li > ul > li::after {
        content: "";
        position: absolute;
        top: 0;
        right: -6px;
        width: 6px;
        height: 100%;
    }

    & > li > ul > li > ul > li {
        height: 35px;
    }

    & > li > ul > li > ul > li > a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 14px;
        text-decoration: none;
        color: #3D3D3D;
    }

    & > li > ul > li > ul > li > a:hover {
        background: #1A712A;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    & > li > ul > li.submenu:hover > ul {
        display: block;
    }



}



.button {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #46A358;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #FFFFFF;

}

.button span {
    font-weight: 500;
    font-size: 16px;
    margin-left: 4px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    /*padding-top: 68px;*/
    padding-left: 43px;
}

.left-side {
    max-width: 590px;
    display: inline-block;
    vertical-align: bottom;
}

.main h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 7px;
}

.main h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main span {
    color: #46A358;
}

.main p {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
}

button {
    width: 140px;
    height: 40px;
    background: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    margin-bottom: 85px;
}

.right-side {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 50px;
}

.small-image {
    position: absolute;
    height: 135px;
    bottom: 17px;
    left: 55px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.sidebar {
    /*display: inline-block;*/
    width: 310px;
    min-width: 310px;
    height: 774px;
    background: #FBFBFB;


}

.sidebar__title {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    padding-left: 18px;
    padding-top: 14px;
    color: #3D3D3D;
}

.sidebar__list {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 30px;
}

.sidebar a {
    text-decoration: none;
    color: #3D3D3D;
    padding: 8px 0;
    transition: 0.2s ease;
}

.sidebar a:hover {
    color: #46A358;
    font-weight: 700;
}

.sidebar__img {
    max-width: 310px;
    max-height: 470px;
}

.sidebar__img img {
    padding-top: 373px;
    width: 100%;
    display: block;
    object-fit: contain;
}

.products .container {
    display: flex;
    padding-top: 46px;
}

.products__content {
    padding-left: 50px;
    /*width: 840px;*/
    /*vertical-align: top;*/
    flex: 1;
}

.products__toolbar {
    display: flex;
    align-items: center;
    padding-bottom: 31px;
}

.tabs a {
    margin-right: 37px;
    font-family: "Cera Pro";
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    position: relative;
    padding-bottom: 7px;

}

.products__toolbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #46A358;
    transition: width 0.25s ease;
}

.products__toolbar a:hover {
    font-family: "Cera Pro";
    color: #46A358;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
}

.products__toolbar a:hover::after {
    width: 100%;
}

.sort {
    font-family: "Cera Pro";
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin-left: auto;
}

/*<!-- CARD -->   <!-- PRODUCTS GRID -->*/

.products__grid {
    display: flex;
    flex-wrap: wrap;
    font-size: initial;
}

.products__card {
    position: relative;
    margin-right: 33px;
    margin-bottom: 70px;
    width: 258px;
    min-height: 350px;

    &:hover {
        .icon {
            text-align: center;
            display: flex;
        }
    }
}

.products__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #46A358;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

/* при наведении */
.products__card:hover::after {
    transform: scaleX(1);
}

.products__card:nth-child(3n) {
    margin-right: 0;
    margin-left: auto;
}

.img-wrapper {
    background: #FBFBFB;
    position: relative;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.icon {
    position: absolute;
    display: none;
    justify-content: center;
    bottom: 7px;
    width: 100%;
    height: 35px;
    gap: 10px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 4px;
        background: #FFFFFF;
    }

    img {
        width: 20px;
        height: 20px;
    }
}


.name {
    color: #3D3D3D;
    padding-top: 12px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}

.price {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
    padding-top: 6px;
}

.pagination {
    display: flex;
    gap: 8px;
    float: none;
    padding-top: 20px;
    padding-bottom: 94px;
    justify-content: flex-end;

}

.page {
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-family: "Cera Pro";
    font-weight: 300;
    line-height: 16px;
    transition: all 0.2s ease;
}

.page:hover {
    border-color: #46A358;
    color: #46A358;
}

.page.active {
    background-color: #46A358;
    border-color: #46A358;
    color: #FFFFFF;
    pointer-events: none;
}


.flex-row {
    display: flex;
    gap: 28px;
    justify-content: space-between;

}

.promo-card {
    position: relative;
    background: #FBFBFB;
    flex: 1 1 calc(50% - 14px);
    height: 250px;
    display: flex;
    align-items: center;


}

.promo-card img {
    position: absolute;
    width: 292px;
    height: 292px;
    top: -52px;
    left: 0;
}

.promo-content {
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    padding-right: 30px;
    align-self: flex-start;

}

.promo-content h3 {
    padding-top: 37px;
    font-family: "Cera Pro";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.promo-content p {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 26px;

}

.promo-content h3 span {
    display: block;
}

.promo-content button {
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #46A358;
    color: #FFFFFF;
}


.blog-wrapper {
    width: 100%;
}

.blog-header {
    margin-top: 138px;
    text-align: center;
}

.blog-header h2 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
}

.blog-header p {
    padding-top: 15px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.blog-list {
    display: grid;
    padding-top: 35px;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px;
}


.blog-card img {
    width: 100%;
    display: block;
}

.blog-meta {
    display: block;
    padding-top: 8px;
    padding-bottom: 4px;
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
}

.blog-card h3 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
    padding-bottom: 4px;
}

.blog-card p {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    padding-bottom: 9px;
}

.blog-card a {
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    text-decoration: none;
}

.blog-card a:hover {
    color: #46A358;
}

/*footer*/

.footer{
    margin-top: 100px;
}

.footer-top {
    display: flex;
    padding-left: 23px;
    padding-top: 25px;
    gap: 62px;
    background: #FBFBFB;
}

.footer-feature {
    width: 204px;
    height: 201px;
    display: flex;
    flex-direction: column;
    background: #FBFBFB;

}

/*1-я картинка*/

.footer-feature-wrapper {
    width: 74px;
    height: 74px;
    display: flex;
    margin-top: 21px;
    border-radius: 50%;
    background: #46A35821;
    position: relative;
}

.footer-feature-wrapper svg {
    position: absolute;
    bottom: 0;
    right: 0;

}

/*2-я картинка*/

.footer-feature__renovation {
    width: 74px;
    height: 74px;
    display: flex;
    margin-top: 16px;
    position: relative;
    border-radius: 50%;
    background: #46A35821;
}

.footer-feature__renovation svg{
    position: absolute;
    bottom: 0;
    transform: translate(15px, -3px);
}

/*3-я картинка*/

.footer-feature__watering{
    width: 83px;
    height: 85px;
    position: relative;

}

.footer-feature__watering .bg {
    position: absolute;
    inset: 0;
    background: #46A35821;
    border-radius: 50%;
    transform: translateY(15px);
    width: 74px;
    height: 74px;
}


.footer-feature__watering svg{
    display: block;
    position: relative;
    z-index: 1;
    transform: translateX(7px);


}

/*3-я картинка*/

/*текст*/

.footer-feature h4{
    padding-top: 18px;
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3D3D3D;
}

.footer-feature p{
    padding-top: 9px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
}

/*текст*/

/*форма*/

.footer-newsletter {
    display: flex;
    width: 354px;
    flex-direction: column;
}

.footer-newsletter h4 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}

.newsletter-form {
    margin-top: 18px;
    height: 40px;
    display: flex;
}

.newsletter-form input {
    width: 269px;
    height: 40px;
    border: none;
    padding: 11px 12px;
    outline: none;
    border-radius: 6px 0 0 6px;


}

.newsletter-form button {
    width: 85px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;



}

.footer-newsletter p{
    margin-top: 17px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #727272;


}

/*контакты*/

.footer-contacts {
    display: flex;
    align-items: center;
    background: #46A3581A;
    padding: 23px 27px;
    border-top: 1px solid #46A358;
    border-bottom: 1px solid #46A358;

}

.footer-contacts__logo{
    padding-right: 87px;
}

.footer-contacts__item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-contacts__item span{
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3D3D3D;
}

.footer-contacts__item a{
    text-decoration: none;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3D3D3D;
}

.footer-contacts__item:nth-child(2){
    margin-right: 60px;
}

.footer-contacts__item:nth-child(3) {
    margin-right: 73px;
}

.footer-bottom__wrapper {
    height: 236px;
    display: flex;
    background: #FBFBFB;
    padding-top: 33px;

}

.footer-column {
    display: flex;
    flex-direction: column;



}

.footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column:nth-child(1) {
    flex: 0 0 100px;
    margin-left: 23px;
}

.footer-column:nth-child(2) {
    flex: 0 0 137px;
    margin-left: 166px;
}

.footer-column:nth-child(3) {
    flex: 0 0 93px;
    margin-left: 128px;
}
.footer-column:nth-child(4) {
    flex: 0 0 224px;
    margin-left: 172px;
}


.footer-column h4{
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;


}

.footer-column a {
    text-decoration: none;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;


}

.social {
    display: flex;
    gap: 10px;
}

.social svg {
    display: block;
}

.social__item{
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #46A35833;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;

}

.payments-title{
    padding-top: 33px;
}

.payments{
    display: flex;
    width: 224px;
    height: 26px;
    margin-top: 13px;
}



.footer-copyright {
    border-top: 1px solid #46A35833;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 13px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
    background: white;
}