@import "./fonts.css";

.container {
    width: 1200px;
    margin: 0 auto;
    background: #FBFBFB;
}

.header {
    margin-bottom: 12px;
}

.container-header {
    display: flex;
    max-width: 1200px;
    height: 53px;
    margin: 30px auto 0;
    background: #FFFFFF;
    border-bottom: #46A35880 solid 0.3px;
}

.logo {
    color: #46A358;
    padding-top: 1px;
    width: 150px;
}

.nav {
    display: flex;
    margin-left: 229px;
    margin-top: 8px;
}

.list {
    display: flex;
    gap: 50px;
    font-family:"Cera Pro";
    font-size: 16px;


    & > li {
        position: relative;
        padding-bottom: 42px;
    }

    & > li > a {
        text-decoration: none;
        position: relative;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        padding-bottom: 27px;
        transition: color 0.25s ease;
    }

    & > li > a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        background: #46A358;
        transition: width 0.25s ease;
    }

    & > li > a:hover{
        color: #3D3D3D;
        font-weight: 700;
    }

    & > li > a:hover::after {
        width: 100%;

    }

    /*1-й ряд*/

    & > li ::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 40px;
        background: transparent;
    }

    & > li > ul {
        position: absolute;
        left: 60%;
        transform: translateX(-50%);
        display: none;
        background: #EDF6EE;
        margin-top: 42px;
        width: 188px;
        height: 143px;
        z-index: 1000;
    }

    & > li:hover > ul {
        display: block;
    }

    & > li > ul > li:hover {
        background: #1A712A;
    }

    & > li > ul > li:hover > a {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }


    & > li > ul > li {
        height: 35px;
        display: flex;
        align-items: center;
    }

    & > li > ul > li > a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        padding-left: 14px;
        text-decoration: none;
    }

    /*2-й ряд*/

    & > li > ul > li > ul {
        position: absolute;
        left: 100%;
        top: 0;
        width: 178px;
        height: 215px;
        background: #EDF6EE;
        margin-left: 2px;
        z-index: 1001;
        display: none;

    }

    &> li > ul > li::after {
        content: "";
        position: absolute;
        top: 0;
        right: -6px;
        width: 6px;
        height: 100%;
    }

    & > li > ul > li > ul > li {
        height: 35px;
    }

    & > li > ul > li > ul > li > a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 14px;
        text-decoration: none;
        color: #3D3D3D;
    }

    & > li > ul > li > ul > li > a:hover {
        background: #1A712A;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    & > li > ul > li.submenu:hover > ul {
        display: block;
    }



}

.btn-header {
    margin-left: auto;
    display: flex;
    padding-left: 16px;
    padding-top: 6px;
    background: #46A358;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    color: #FFFFFF;
    text-decoration: none;
}

.btn-header:hover {
    background: #4FB96A;
    color: #3D3D3D;
    transition: 2s;
}

.btn-header span {
    padding-top: 4px;
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

}

.header-actions {
    display: flex;
    gap: 30px;
    padding-left: 262px;
    padding-top: 6px;


}

.container-main{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);

}

.left-side {
    max-width: 590px;
    margin-left: 40px;
    margin-top: 66px;

}

.left-side h4 {
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #3D3D3D;
    padding-left: 2px;

}

.left-side h1 {
    font-family: "Cera Pro";
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    padding-top: 5px;
}

.main span {
    color: #46A358;
}

.left-side p {
    padding-top: 8px;
    padding-left: 3px;
    font-family: "Cera Pro";
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.left__side {
    font-family: "Cera Pro";
    width: 140px;
    height: 40px;
    background: #46A358;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    margin-top: 42px;
    cursor: pointer;
}

.left__side:hover {
    background: #4FB96A;
    color: #3D3D3D;
    transition: 2s;
}

.right-side {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 50px;
}

.small-image {
    position: absolute;
    height: 135px;
    bottom: 20px;
    left: 55px;
}

/*products*/

.container-products{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 42px;
}

.sidebar {
    width: 310px;
    min-width: 310px;
    height: 774px;
    background: #FBFBFB;
}

.sidebar__title {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    padding-left: 18px;
    padding-top: 14px;
    color: #3D3D3D;
}

.sidebar__list {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    padding-top: 7px;
    padding-left: 30px;
}

.sidebar a {
    text-decoration: none;
    color: #3D3D3D;
    padding: 8px 0;
    transition: 0.2s ease;
}

.sidebar a:hover {
    color: #46A358;
    font-weight: 700;
}

.sidebar__img {
    max-width: 310px;
    max-height: 470px;
}

.sidebar__img img {
    padding-top: 378px;
    width: 100%;
    display: block;
    object-fit: contain;
}

.products__content {
    padding-left: 50px;
    flex: 1;
}

.products__toolbar {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.tabs a {
    margin-right: 36px;
    font-family: "Cera Pro";
    color: #3D3D3D;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    position: relative;
    padding-bottom: 7px;

}

.products__toolbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #46A358;
    transition: width 0.25s ease;
}

.products__toolbar a:hover {
    font-family: "Cera Pro";
    color: #46A358;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
}

.products__toolbar a:hover::after {
    width: 100%;
}

.sort {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-left: auto;
    margin-right: 3px;

    margin-left: auto;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
}

/*products_card*/

.products__grid {
    display: flex;
    flex-wrap: wrap;
    font-size: initial;
}

.products__card {
    position: relative;
    margin-right: 33px;
    margin-bottom: 70px;
    width: 258px;
    min-height: 350px;

    &:hover {
        .icon {
            text-align: center;
            display: flex;
        }
    }
}

.products__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #46A358;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

/* hover */

.products__card:hover::after {
    transform: scaleX(1);
}

.products__card:nth-child(2) img {
    transform: translate(0, -2px);
}

.products__card:nth-child(3n) {
    margin-right: 0;
    margin-left: auto;

}

.products__card:nth-child(3) img {
    transform: translate(0, -5px);
}

.products__card:nth-child(4) img {
    transform: translate(0px, -8px);
}

.products__card:nth-child(5) img {
    transform: translate(0px, -4px);
}

.products__card:nth-child(6) img {
    transform: translate(0px, -3px);
}

.products__card:nth-child(7) img {
    transform: translate(0px, -9px);
}

.products__card:nth-child(8) img {
    transform: translate(0px, 2px);
}

.products__card:nth-child(9) img {
    transform: translate(0px, -8px);
}

.img-wrapper {
    width: 100%;
    background: #FBFBFB;
    position: relative;
    height: 300px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: translate(1px, 5px);
    }
}

.icon {
    position: absolute;
    display: none;
    justify-content: center;
    bottom: 7px;
    width: 100%;
    height: 35px;
    gap: 10px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 4px;
        background: #FFFFFF;
    }

}

.name {
    color: #3D3D3D;
    padding-top: 12px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}

.price {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
    padding-top: 6px;
}

.pagination {
    display: flex;
    gap: 10px;
    float: none;
    padding-top: 19px;
    padding-bottom: 94px;
    justify-content: flex-end;
    margin-right: 1px;

}

.page {
    width: 35px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-family: "Cera Pro";
    font-weight: 300;
    line-height: 16px;
    transition: all 0.2s ease;
}

.page:hover {
    border-color: #46A358;
    color: #46A358;
}

.page.active {
    background-color: #46A358;
    border-color: #46A358;
    color: #FFFFFF;
    pointer-events: none;
}

.flex-row {
    display: flex;
    gap: 28px;
    justify-content: space-between;
    margin-top: 55px;

}

/*promo*/

.promo-card {
    position: relative;
    background: #FBFBFB;
    flex: 1 1 calc(50% - 14px);
    height: 250px;
    display: flex;
    align-items: center;


}

.promo-card img {
    position: absolute;
    width: 292px;
    height: 292px;
    top: -52px;
    left: 0;
}

.promo-content__left-side {
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    padding-right: 28px;
    align-self: flex-start;
}

.promo-content__left-side h3 {
    padding-top: 35px;
    font-family: "Cera Pro";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.promo-content__left-side p {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-top: 7px;
    padding-right: 2px;
    color: #727272;

}

.promo-content__left-side span {
    display: block;
}

.promo-content__left-side button {
    width: 140px;
    height: 40px;
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    margin-right: 3px;
    margin-top: 23px;

    display: flex;
    align-items: center;
    padding-left: 28px;
    gap: 3px;
    margin-left: auto;

    border: none;
    cursor: pointer;
}

.promo-content__left-side button:hover {
    background: #4FB96A;
    color: #3D3D3D;
    transition: 2s;
}

.promo-content__right-side {
    flex-direction: column;
    margin-left: auto;
    text-align: right;
    padding-right: 32px;
    align-self: flex-start;
}

.promo-content__right-side h3 {
    padding-top: 35px;
    font-family: "Cera Pro";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.promo-content__right-side span {
    display: block;
}

.promo-content__right-side p {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-top: 7px;
    padding-right: 8px;
    color: #727272;

}

.promo-content__right-side .p-line-2 {
    display: inline-block;
    transform: translateX(1px);
}

.promo-content__right-side span {
    display: block;
}

.promo-content__right-side button {
    width: 140px;
    height: 40px;
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    margin-right: 3px;
    margin-top: 23px;

    display: flex;
    align-items: center;
    padding-left: 27px;
    gap: 3px;
    margin-left: auto;

    border: none;
    cursor: pointer;
}

.promo-content__right-side button:hover {
    background: #4FB96A;
    color: #3D3D3D;
    transition: 2s;
}

/*blog*/

.container-blog{
    width: 1200px;
    margin: 0 auto;
    background: white;
}

.blog{
    margin-top: 134px;

}

.blog-wrapper {
    width: 100%;

}

.blog-header {
    text-align: center;
    transform: translateX(8px);
}

.blog-header h2 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 30px;
    line-height: 16px;
    color: #3D3D3D;
}

.blog-header p {
    padding-top: 15px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    transform: translateX(-9px);
}

.blog-list {
    display: grid;
    padding-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px;
}

.blog-card{
    background: #FBFBFB;
}

.blog-card img {
    width: 100%;
    display: block;
}

.blog-meta {
    display: flex;
    padding-top: 8px;
    padding-bottom: 4px;
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #46A358;
    padding-left: 13px;

}

.blog-meta .divider {
    width: 1px;
    height: 10px;
    background-color: #46A358;

}

.blog-card:nth-child(1) .divider {
    margin-left: 10px;
    margin-top: 4px;
}

.blog-card:nth-child(1) .read{
    margin-left: 5px;
}

.blog-card:nth-child(2) .divider {
    margin-left: 9px;
    margin-top: 4px;
}

.blog-card:nth-child(2) .read{
    margin-left: 5px;
}

.blog-card:nth-child(3) .divider {
    margin-left: 10px;
    margin-top: 4px;
}

.blog-card:nth-child(3) .read{
    margin-left: 6px;
}

.blog-card:nth-child(4) .divider {
    margin-left: 10px;
    margin-top: 4px;
}

.blog-card:nth-child(4) .read{
    margin-left: 5px;
}

.read-more svg {
    transform: translateY(3px);
}

.blog-card h3 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
    padding-bottom: 4px;
    padding-left: 13px;
}

.blog-card p {
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
    padding-bottom: 9px;
    padding-left: 13px;
}

.blog-card a {
    font-family: "Cera Pro";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3D;
    text-decoration: none;
    padding-left: 13px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 18px;
}

.blog-card a:hover {
    color: #46A358;
}

.blog-card a svg {
    fill: currentColor;
}

/*footer*/

.footer{
    margin-top: 97px;
}

.footer-top {
    display: flex;
    padding-left: 23px;
    padding-top: 25px;
    gap: 62px;
    background: #FBFBFB;
}

.footer-feature {
    width: 204px;
    height: 201px;
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
    margin-bottom: 23px;

}

/*1-я картинка*/

.footer-feature-wrapper {
    width: 74px;
    height: 74px;
    display: flex;
    margin-top: 21px;
    border-radius: 50%;
    background: #46A35821;
    position: relative;
}

.footer-feature-wrapper svg {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(2px);
}

/*2-я картинка*/

.footer-feature__renovation {
    width: 74px;
    height: 74px;
    display: flex;
    margin-top: 16px;
    position: relative;
    border-radius: 50%;
    background: #46A35821;
}

.footer-feature__renovation svg{
    position: absolute;
    bottom: 0;
    transform: translate(15px, -3px);
}

/*3-я картинка*/

.footer-feature__watering{
    width: 83px;
    height: 85px;
    position: relative;

}

.footer-feature__watering .bg {
    position: absolute;
    inset: 0;
    background: #46A35821;
    border-radius: 50%;
    transform: translateY(15px);
    width: 74px;
    height: 74px;
}


.footer-feature__watering svg{
    display: block;
    position: relative;
    z-index: 1;
    transform: translateX(7px);


}

/*3-я картинка*/

/*текст*/

.footer-feature h4{
    padding-top: 18px;
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3D3D3D;
}

.footer-feature:nth-child(3) h4 {
    margin-top: 5px;
}

.footer-feature p{
    padding-top: 9px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;
}

/*текст*/

/*form*/

.footer-newsletter {
    display: flex;
    width: 354px;
    flex-direction: column;
    margin-top: 12px;
}

.footer-newsletter h4 {
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}

.newsletter-form {
    margin-top: 18px;
    height: 40px;
    display: flex;
}

.newsletter-form input {
    width: 269px;
    height: 40px;
    border: none;
    padding: 10px 12px;
    outline: none;
    border-radius: 6px 0 0 6px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ACACAC;

}

.newsletter-form button {
    width: 85px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    background: #46A358;
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
}

.newsletter-form button:hover {
    background: #4FB96A;
    color: #3D3D3D;
    transition: 2s;
}

.footer-newsletter p{
    margin-top: 17px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #727272;


}

/*contacts*/

.footer-contacts {
    display: flex;
    align-items: center;
    background: #46A3581A;
    height: 88px;
    border-top: 1px solid #46A358;
    border-bottom: 1px solid #46A358;

}

.footer-contacts__logo{
    padding-left: 23px;
    padding-right: 86px;
}

.footer-contacts__item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-contacts__item span{
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3D3D3D;
}

.footer-contacts__item a{
    text-decoration: none;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3D3D3D;
}

.footer-contacts__item:nth-child(2){
    margin-right: 69px;
}

.footer-contacts__item:nth-child(3) {
    margin-right: 74px;

}

.footer-bottom__wrapper {
    height: 236px;
    display: flex;
    background: #FBFBFB;
    padding-top: 33px;

}

/*column*/
.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column ul {
    /*margin: 0;*/
    /*padding: 0;*/
    list-style: none;
}

.footer-column:nth-child(1) {
    flex: 0 0 100px;
    margin-left: 23px;
}

.footer-column:nth-child(2) {
    flex: 0 0 137px;
    margin-left: 166px;
}

.footer-column:nth-child(3) {
    flex: 0 0 93px;
    margin-left: 128px;
}
.footer-column:nth-child(4) {
    flex: 0 0 224px;
    margin-left: 172px;
}


.footer-column h4{
    font-family: "Cera Pro";
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    padding-bottom: 9px;


}

.footer-column a {
    text-decoration: none;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;


}

.social {
    display: flex;
    gap: 10px;
}

.social svg {
    display: block;
}

.social__item{
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #46A35833;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 11px;

}

.payments-title{
    padding-top: 33px;
}

.payments{
    display: flex;
    width: 224px;
    height: 26px;
    margin-top: 5px;
}



.footer-copyright {
    border-top: 1px solid #46A35833;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 13px;
    font-family: "Cera Pro";
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #3D3D3D;
    background: white;
}